.body {
    background-color: #eee;
}

form {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    padding: 9px 45px 12px 45px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;
}
.rock {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 81%;
    left: 31%;
    transform: translate(-50%, -50%);
    background-color: rgb(234,112,156);
    color: #fff;
    font-size: 47px;
    font-family: 'Times New Roman', Times, serif;
}
.rock:hover {
    background-color: rgb(230, 147, 24);
    color: black;
}
.paper {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234,112,156);
    color: #fff;
    font-size: 47px;
    font-family: 'Times New Roman', Times, serif;
}
.paper:hover {
    background-color: rgb(230, 147, 24);
    color: black;
}
.scissors {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 81%;
    left: 72%;
    transform: translate(-50%, -50%);
    background-color: rgb(234,112,156);
    color: #fff;
    font-size: 47px;
    font-family: 'Times New Roman', Times, serif;
}
.scissors:hover {
    background-color: rgb(230, 147, 24);
    color: black;
}
.random {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234,112,156);
    color: #fff;
    font-size: 47px;
    font-family: 'Times New Roman', Times, serif;
}
.random:hover {
    background-color: rgb(230, 147, 24);
    color: black;
}
.rezultatas {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
}
.pc {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.you {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}